# 0) set which rebranding approach to use for social-app
# set this to true to disable rebranding, but make sure you comply with guidelines
REBRANDING_DISABLED=
# set this to an executable script that will perform rebranding on social-app
REBRANDING_SCRIPT=rebranding/run-rewrite.sh
# this parameter will be used for names of branches etc
REBRANDING_NAME=opensky-local-com
# these parameters will be passed as the arguments to REBRANDING_SCRIPT, to allow different branding setups
REBRANDING_PARAMS="opensky-local-com opensky"
# these repositories will be rebuilt from source after running the rebranding script
REBRANDED_REPOS="social-app atproto"
# these are the services which require branded builds
REBRANDED_SERVICES="social-app pds"
# the default docker hub namespace for base bluesky images (unbranded)
UNBRANDED_NAMESPACE=itaru2622
# the default docker hub namespace for branded images (change this in order to publish your own elsewhere)
BRANDED_NAMESPACE=itaru2622

# 1) set domain name for self-hosting bluesky
DOMAIN=opensky.local.com

# 2) set asof date, to distinguish docker images / its sources.
#    2024-11-09(for latest prebuild, in %Y-%m-%d), or latest (following docker image naming manner in lazy).
asof=2024-11-09

# 3) set email addresses.

# 3-1) EMAIL4CERTS:  to lets encrypt for signing certificates.
EMAIL4CERTS=

# for self-signed certificates, use below EMAIL4CERTS and NODE_TLS_REJECT_UNAUTHORIZED (`internal` is reserved keyword).
# It is recommended to use `internal` for avoid meeting rate limits, until you are sure it ready to self-hosting.
# EMAIL4CERTS=internal
# NODE_TLS_REJECT_UNAUTHORIZED=0

# otherwise, set this to behave normally (will complain if variable undefined)
NODE_TLS_REJECT_UNAUTHORIZED=1

# 3-2) PDS_EMAIL_SMTP_URL: for PDS,  like smtps://youraccount:your-app-password@smtp.gmail.com
# TODO: replace with mailjet transactional
PDS_EMAIL_SMTP_URL=smtps://

# 3-3) FEEDGEN_EMAIL: for feed-generator account in bluesky
FEEDGEN_EMAIL=feedgen@opensky.local.com

# 4) OZONE_ADMIN_EMAIL
OZONE_ADMIN_EMAIL=ozone@opensky.local.com

# 5-1) secure passwords, rather than defaults
POSTGRES_USER=pg
POSTGRES_PASSWORD=
OZONE_ADMIN_PASSWORD=
PDS_ADMIN_PASSWORD=
BSKY_ADMIN_PASSWORDS=
OPENSEARCH_INITIAL_ADMIN_PASSWORD=

# 5-2) expected handles etc based on DOMAIN
OZONE_ADMIN_HANDLE=ozone-admin.pds.opensky.local.com
FEEDGEN_PUBLISHER_HANDLE=feedgen.pds.opensky.local.com

# 6) generated DIDs etc
# feedgen DID
# FEEDGEN_PUBLISHER_DID=did:plc:xxxxxx

# generated ozone DID
# OZONE_SERVER_DID=did:plc:xxxxxx
# OZONE_ADMIN_DIDS=did:plc:xxxxxx


BSKY_LABELS_FROM_ISSUER_DIDS=did:example:labeler

# generated secure key
# FEEDGEN_PUBLISHER_PASSWORD= # FIXME
# OZONE_SIGNING_KEY_HEX=
# BSKY_SERVICE_SIGNING_KEY=
# PDS_JWT_SECRET= # FIXME
# PDS_PLC_ROTATION_KEY_K256_PRIVATE_KEY_HEX= # FIXME
# BGS_ADMIN_KEY= # FIXME

# 7) things that relate to building docker images, git etc
# fork repo prefix
# fork_repo_prefix=git@github.com:itaru2622/bluesky-

# 8) Other things that the script reported as undefined

# GOINSECURE allows the go programming language compiler to fetch packages insecurely from these domains
GOINSECURE=none.safetyfirst
LOG_LEVEL_DEFAULT=info


