# Copy this file to .env and edit it before deploying

# (optional) Docker network name
DOCKER_NETWORK_NAME=my_bsky_network
# (optional) Docker image namespace
IMAGE_NAMESPACE=bsky_selfhost

# (required) Top-level domain for your appview
DOMAIN=

# (required) Email address for SSL certificates
EMAIL_FOR_CERTS=

# (optional) Postgres username
#            If you change this, you'll also need to edit ./config/init-postgres/init.sql
POSTGRES_USER=pg
# (required) Postgres password
#            Run ./scripts/gen-secrets.sh to generate
POSTGRES_PASSWORD=

# (required) The public signing key in the form of a `did:key`, used for service-to-service auth. Advertised in the appview's `did:web` document
#            Run ./scripts/gen-secrets.sh to generate
BSKY_SERVICE_SIGNING_KEY=
# (optional) Comma-separated list of admin passwords used for role-based auth
#            Run ./scripts/gen-secrets.sh to generate
BSKY_ADMIN_PASSWORDS=
# (optional) Comma-separated list of labelers to always use for record labels
BSKY_LABELS_FROM_ISSUER_DIDS=
# (optional) Posts claiming to have been created before this epoch but indexed after it will display a warning in social-app
#            You should set this to just before whenever you started your appview
BSKY_INDEXED_AT_EPOCH=
# (optional) The DID of the mod service, used to receive service authed requests
#            The label consumer service will also apply takedowns emitted by this mod service
MOD_SERVICE_DID=

# (optional) PLC directory FQDN to use (defaults to self-hosted zplc server at plc.$DOMAIN)
PLC_FQDN=
# (optional) Appview FQDN to use (defaults to self-hosted appview at bsky.$DOMAIN)
BSKY_FQDN=
# (optional) Relay FQDN to use (defaults to relay1.us-east.bsky.network)
BGS_FQDN=

# (optional) Log level for the appview and social-app, defaults to 'info'
LOG_LEVEL_DEFAULT=info
